{
  "openapi": "3.0.3",
  "info": {
    "title": "Edulure Platform API",
    "version": "1.50.0",
    "description": "Production-ready API contracts for the Edulure platform. All responses follow the `{ success, message, data, meta }` envelope."
  },
  "servers": [
    {
      "url": "https://api.edulure.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:{port}",
      "description": "Local development",
      "variables": {
        "port": {
          "default": "4000"
        }
      }
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "StandardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "data": {},
          "meta": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "CommunityChatChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "channelType": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "name",
          "slug",
          "channelType",
          "isDefault",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityChannelMembership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "notificationsEnabled": {
            "type": "boolean"
          },
          "muteUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastReadAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastReadMessageId": {
            "type": "integer",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "channelId",
          "userId",
          "role",
          "notificationsEnabled",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "channelId": {
            "type": "integer"
          },
          "authorId": {
            "type": "integer"
          },
          "messageType": {
            "type": "string",
            "enum": [
              "text",
              "system",
              "event",
              "file",
              "live"
            ],
            "default": "text"
          },
          "body": {
            "type": "string",
            "maxLength": 5000
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          },
          "pinned": {
            "type": "boolean"
          },
          "threadRootId": {
            "type": "integer",
            "nullable": true
          },
          "replyToMessageId": {
            "type": "integer",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "id",
          "communityId",
          "channelId",
          "authorId",
          "messageType",
          "body",
          "attachments",
          "metadata",
          "status",
          "pinned",
          "createdAt",
          "updatedAt",
          "author"
        ]
      },
      "CommunityChatMessageExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommunityChatMessage"
          },
          {
            "type": "object",
            "properties": {
              "reactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              },
              "viewerReactions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "CommunityChatChannelSummary": {
        "type": "object",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/CommunityChatChannel"
          },
          "membership": {
            "$ref": "#/components/schemas/CommunityChannelMembership"
          },
          "latestMessage": {
            "$ref": "#/components/schemas/CommunityChatMessage",
            "nullable": true
          },
          "unreadCount": {
            "type": "integer"
          }
        },
        "required": [
          "channel",
          "membership",
          "unreadCount"
        ]
      },
      "CommunityChatReactionSummary": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "integer"
          },
          "reactions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "emoji": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "viewerReactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "messageId",
          "reactions",
          "viewerReactions"
        ]
      },
      "CommunityChatModeration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "messageId": {
            "type": "integer"
          },
          "actorId": {
            "type": "integer"
          },
          "actionType": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "messageId",
          "actorId",
          "actionType",
          "metadata",
          "createdAt"
        ]
      },
      "CommunityChatModerationResult": {
        "type": "object",
        "properties": {
          "message": {
            "$ref": "#/components/schemas/CommunityChatMessage"
          },
          "moderation": {
            "$ref": "#/components/schemas/CommunityChatModeration"
          }
        },
        "required": [
          "message",
          "moderation"
        ]
      },
      "CreateCommunityChatMessageRequest": {
        "type": "object",
        "properties": {
          "messageType": {
            "type": "string",
            "enum": [
              "text",
              "system",
              "event",
              "file",
              "live"
            ],
            "default": "text"
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "replyToMessageId": {
            "type": "integer",
            "minimum": 1
          },
          "threadRootId": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "body"
        ]
      },
      "CommunityChatReactionRequest": {
        "type": "object",
        "properties": {
          "emoji": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          }
        },
        "required": [
          "emoji"
        ]
      },
      "CommunityChatModerationRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "delete",
              "hide",
              "restore"
            ]
          },
          "reason": {
            "type": "string",
            "maxLength": 500
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "action"
        ]
      },
      "CommunityChatReadReceiptRequest": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "integer",
            "minimum": 1
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PresenceSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "sessionId": {
            "type": "string"
          },
          "client": {
            "type": "string",
            "enum": [
              "web",
              "mobile",
              "provider",
              "admin"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "online",
              "away",
              "offline"
            ]
          },
          "connectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "userId",
          "sessionId",
          "client",
          "status",
          "connectedAt",
          "lastSeenAt",
          "metadata"
        ]
      },
      "PresenceUpdateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "online",
              "away",
              "offline"
            ],
            "default": "online"
          },
          "client": {
            "type": "string",
            "enum": [
              "web",
              "mobile",
              "provider",
              "admin"
            ],
            "default": "web"
          },
          "ttlMinutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 60,
            "default": 5
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "connectedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DirectMessageParticipant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "threadId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "notificationsEnabled": {
            "type": "boolean"
          },
          "isMuted": {
            "type": "boolean"
          },
          "muteUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastReadAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastReadMessageId": {
            "type": "integer",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "threadId",
          "userId",
          "role",
          "notificationsEnabled",
          "isMuted",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "DirectMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "threadId": {
            "type": "integer"
          },
          "senderId": {
            "type": "integer"
          },
          "messageType": {
            "type": "string",
            "enum": [
              "text",
              "system",
              "file"
            ],
            "default": "text"
          },
          "body": {
            "type": "string",
            "maxLength": 5000
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "sender": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "role": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "id",
          "threadId",
          "senderId",
          "messageType",
          "body",
          "attachments",
          "metadata",
          "status",
          "createdAt",
          "updatedAt",
          "sender"
        ]
      },
      "DirectMessageThread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "isGroup": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "lastMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastMessagePreview": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "isGroup",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "DirectMessageParticipantSummary": {
        "type": "object",
        "properties": {
          "participant": {
            "$ref": "#/components/schemas/DirectMessageParticipant"
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "nullable": true
          }
        },
        "required": [
          "participant"
        ]
      },
      "DirectMessageThreadSummary": {
        "type": "object",
        "properties": {
          "thread": {
            "$ref": "#/components/schemas/DirectMessageThread"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DirectMessageParticipantSummary"
            }
          },
          "latestMessage": {
            "$ref": "#/components/schemas/DirectMessage",
            "nullable": true
          },
          "unreadCount": {
            "type": "integer"
          }
        },
        "required": [
          "thread",
          "participants",
          "unreadCount"
        ]
      },
      "DirectMessageThreadCreationResult": {
        "type": "object",
        "properties": {
          "thread": {
            "$ref": "#/components/schemas/DirectMessageThread"
          },
          "initialMessage": {
            "$ref": "#/components/schemas/DirectMessage",
            "nullable": true
          }
        },
        "required": [
          "thread"
        ]
      },
      "DirectMessageRequest": {
        "type": "object",
        "properties": {
          "messageType": {
            "type": "string",
            "enum": [
              "text",
              "system",
              "file"
            ],
            "default": "text"
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "body"
        ]
      },
      "DirectMessageThreadRequest": {
        "type": "object",
        "properties": {
          "participantIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 1
            },
            "minItems": 1
          },
          "subject": {
            "type": "string",
            "maxLength": 240
          },
          "forceNew": {
            "type": "boolean",
            "default": false
          },
          "initialMessage": {
            "$ref": "#/components/schemas/DirectMessageRequest"
          }
        },
        "required": [
          "participantIds"
        ]
      },
      "DirectMessageReadRequest": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "integer",
            "minimum": 1
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DirectMessageReadReceipt": {
        "type": "object",
        "properties": {
          "participant": {
            "$ref": "#/components/schemas/DirectMessageParticipant"
          },
          "message": {
            "$ref": "#/components/schemas/DirectMessage",
            "nullable": true
          }
        },
        "required": [
          "participant"
        ]
      },
      "AuthTokens": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "tokenType": {
            "type": "string",
            "example": "Bearer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "tokenType",
          "expiresAt"
        ]
      },
      "SessionEnvelope": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "instructor",
              "admin"
            ]
          },
          "age": {
            "type": "integer",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "emailVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastLoginAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "firstName",
          "email",
          "role",
          "createdAt",
          "updatedAt"
        ]
      },
      "Community": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "coverImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "ownerId": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "stats": {
            "type": "object",
            "properties": {
              "members": {
                "type": "integer"
              },
              "resources": {
                "type": "integer"
              },
              "posts": {
                "type": "integer"
              },
              "channels": {
                "type": "integer"
              },
              "lastActivityAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "membership": {
            "type": "object",
            "nullable": true,
            "properties": {
              "role": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "visibility",
          "ownerId",
          "metadata",
          "stats",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "type",
          "isDefault",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityPost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "visibility": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "channel": {
            "$ref": "#/components/schemas/CommunityChannel",
            "nullable": true
          },
          "community": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            }
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "role": {
                "type": "string"
              },
              "avatarUrl": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "id",
              "name",
              "avatarUrl"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "reactions": {
                "type": "integer"
              },
              "reactionBreakdown": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              },
              "comments": {
                "type": "integer"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "type",
          "body",
          "visibility",
          "status",
          "tags",
          "author",
          "stats",
          "metadata"
        ]
      },
      "CommunityResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "resourceType": {
            "type": "string"
          },
          "assetId": {
            "type": "integer",
            "nullable": true
          },
          "asset": {
            "type": "object",
            "nullable": true,
            "properties": {
              "publicId": {
                "type": "string"
              },
              "filename": {
                "type": "string"
              }
            }
          },
          "linkUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "classroomReference": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "role": {
                "type": "string",
                "nullable": true
              },
              "avatarUrl": {
                "type": "string",
                "format": "uri"
              }
            },
            "required": [
              "id",
              "name",
              "avatarUrl"
            ]
          }
        },
        "required": [
          "id",
          "communityId",
          "title",
          "resourceType",
          "tags",
          "visibility",
          "status",
          "metadata",
          "createdAt",
          "updatedAt",
          "createdBy"
        ]
      },
      "CommunityDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Community"
          },
          {
            "type": "object",
            "properties": {
              "channels": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityChannel"
                }
              }
            }
          }
        ]
      },
      "CommunityPointSummary": {
        "type": "object",
        "properties": {
          "communityId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "points": {
            "type": "integer"
          },
          "lifetimePoints": {
            "type": "integer"
          },
          "tier": {
            "type": "string"
          },
          "lastAwardedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastActivityAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "communityId",
          "userId",
          "points",
          "lifetimePoints",
          "tier"
        ]
      },
      "CommunityPointTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "awardedBy": {
            "type": "integer",
            "nullable": true
          },
          "deltaPoints": {
            "type": "integer"
          },
          "balanceAfter": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "referenceId": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "awardedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "userId",
          "deltaPoints",
          "balanceAfter",
          "reason",
          "source",
          "metadata",
          "awardedAt"
        ]
      },
      "CommunityStreak": {
        "type": "object",
        "properties": {
          "communityId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "currentStreakDays": {
            "type": "integer"
          },
          "longestStreakDays": {
            "type": "integer"
          },
          "lastActiveOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resumedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "communityId",
          "userId",
          "currentStreakDays",
          "longestStreakDays",
          "metadata"
        ]
      },
      "CommunityPointAwardResult": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/CommunityPointSummary"
          },
          "transaction": {
            "$ref": "#/components/schemas/CommunityPointTransaction"
          }
        },
        "required": [
          "summary",
          "transaction"
        ]
      },
      "CommunityEngagementProgress": {
        "type": "object",
        "properties": {
          "membership": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "communityId": {
                "type": "integer"
              },
              "userId": {
                "type": "integer"
              },
              "role": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "joinedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "leftAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "required": [
              "id",
              "communityId",
              "userId",
              "role",
              "status",
              "metadata"
            ]
          },
          "points": {
            "$ref": "#/components/schemas/CommunityPointSummary"
          },
          "streak": {
            "$ref": "#/components/schemas/CommunityStreak"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityPointTransaction"
            }
          }
        },
        "required": [
          "membership",
          "points",
          "streak",
          "transactions"
        ]
      },
      "CommunityLeaderboardEntry": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "points": {
            "type": "integer",
            "nullable": true
          },
          "lifetimePoints": {
            "type": "integer",
            "nullable": true
          },
          "tier": {
            "type": "string",
            "nullable": true
          },
          "currentStreakDays": {
            "type": "integer",
            "nullable": true
          },
          "longestStreakDays": {
            "type": "integer",
            "nullable": true
          },
          "lastActiveOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "attendedEvents": {
            "type": "integer",
            "nullable": true
          },
          "waitlistedEvents": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "userId",
          "name"
        ]
      },
      "CommunityEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "createdBy": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startAt": {
            "type": "string",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "format": "date-time"
          },
          "timezone": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attendanceLimit": {
            "type": "integer",
            "nullable": true
          },
          "attendanceCount": {
            "type": "integer"
          },
          "waitlistCount": {
            "type": "integer"
          },
          "requiresRsvp": {
            "type": "boolean"
          },
          "isOnline": {
            "type": "boolean"
          },
          "meetingUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "locationName": {
            "type": "string",
            "nullable": true
          },
          "locationAddress": {
            "type": "string",
            "nullable": true
          },
          "locationLatitude": {
            "type": "number",
            "nullable": true
          },
          "locationLongitude": {
            "type": "number",
            "nullable": true
          },
          "coverImageUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "recurrenceRule": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "createdBy",
          "title",
          "slug",
          "startAt",
          "endAt",
          "timezone",
          "visibility",
          "status",
          "attendanceCount",
          "waitlistCount",
          "requiresRsvp",
          "isOnline",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityEventMap": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "coordinates": {
            "type": "object",
            "nullable": true,
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          },
          "locationName": {
            "type": "string",
            "nullable": true
          },
          "locationAddress": {
            "type": "string",
            "nullable": true
          },
          "meetingUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "shareUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "required": [
          "type"
        ]
      },
      "CommunityEventParticipant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "rsvpAt": {
            "type": "string",
            "format": "date-time"
          },
          "checkInAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reminderScheduledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "eventId",
          "userId",
          "status",
          "rsvpAt",
          "metadata"
        ]
      },
      "CommunityEventReminder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "remindAt": {
            "type": "string",
            "format": "date-time"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastAttemptAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "attemptCount": {
            "type": "integer"
          },
          "failureReason": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "id",
          "eventId",
          "userId",
          "status",
          "channel",
          "remindAt",
          "attemptCount",
          "metadata"
        ]
      },
      "CommunityEventDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommunityEvent"
          },
          {
            "type": "object",
            "properties": {
              "map": {
                "$ref": "#/components/schemas/CommunityEventMap"
              },
              "participants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityEventParticipant"
                }
              },
              "attendance": {
                "type": "object",
                "properties": {
                  "confirmed": {
                    "type": "integer"
                  },
                  "waitlisted": {
                    "type": "integer"
                  }
                },
                "required": [
                  "confirmed",
                  "waitlisted"
                ]
              }
            }
          }
        ]
      },
      "CommunityCalendarEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "startAt": {
            "type": "string",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "format": "date-time"
          },
          "timezone": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "map": {
            "$ref": "#/components/schemas/CommunityEventMap"
          }
        },
        "required": [
          "id",
          "title",
          "startAt",
          "endAt",
          "timezone",
          "visibility",
          "status"
        ]
      },
      "CommunityCalendar": {
        "type": "object",
        "properties": {
          "month": {
            "type": "integer"
          },
          "year": {
            "type": "integer"
          },
          "eventsByDate": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CommunityCalendarEvent"
              }
            }
          }
        },
        "required": [
          "month",
          "year",
          "eventsByDate"
        ]
      },
      "ContentAsset": {
        "type": "object",
        "properties": {
          "publicId": {
            "type": "string"
          },
          "originalFilename": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "powerpoint",
              "ebook",
              "pdf",
              "document",
              "video"
            ]
          },
          "status": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true
          }
        },
        "required": [
          "publicId",
          "originalFilename",
          "type",
          "status",
          "visibility"
        ]
      },
      "UploadSessionResponse": {
        "type": "object",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/ContentAsset"
          },
          "upload": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "bucket": {
                "type": "string"
              },
              "key": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "url",
              "bucket",
              "key",
              "expiresAt"
            ]
          }
        },
        "required": [
          "asset",
          "upload"
        ]
      },
      "ViewerToken": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "watermark": {
            "type": "string"
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "asset": {
            "$ref": "#/components/schemas/ContentAsset"
          }
        },
        "required": [
          "url",
          "expiresAt",
          "watermark",
          "asset"
        ]
      },
      "ContentAnalytics": {
        "type": "object",
        "properties": {
          "asset": {
            "$ref": "#/components/schemas/ContentAsset"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                }
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string"
                },
                "storageKey": {
                  "type": "string"
                },
                "storageBucket": {
                  "type": "string"
                }
              }
            }
          },
          "recentActivity": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string"
                },
                "occurredAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "progressSummary": {
            "type": "object",
            "nullable": true,
            "properties": {
              "readers": {
                "type": "integer"
              },
              "averageProgress": {
                "type": "number"
              }
            }
          }
        },
        "required": [
          "asset",
          "events"
        ]
      },
      "VerificationStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified"
            ]
          },
          "emailVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "status",
          "emailVerifiedAt"
        ]
      },
      "PaymentTotals": {
        "type": "object",
        "properties": {
          "subtotal": {
            "type": "integer",
            "description": "Subtotal before discounts and taxes, expressed in cents."
          },
          "discount": {
            "type": "integer",
            "description": "Discount amount applied in cents."
          },
          "tax": {
            "type": "integer",
            "description": "Tax amount applied in cents."
          },
          "total": {
            "type": "integer",
            "description": "Total payable amount in cents."
          }
        },
        "required": [
          "subtotal",
          "discount",
          "tax",
          "total"
        ]
      },
      "PaymentLineItemInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "unitAmount": {
            "type": "integer",
            "minimum": 50,
            "description": "Unit price in cents."
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "taxExempt": {
            "type": "boolean",
            "default": false
          },
          "metadata": {
            "type": "object",
            "nullable": true
          }
        },
        "required": [
          "unitAmount"
        ]
      },
      "PaymentIntentCreateRequest": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "stripe",
              "paypal"
            ]
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentLineItemInput"
            }
          },
          "couponCode": {
            "type": "string",
            "nullable": true
          },
          "tax": {
            "type": "object",
            "nullable": true,
            "properties": {
              "country": {
                "type": "string",
                "description": "Two-letter country code."
              },
              "region": {
                "type": "string",
                "nullable": true
              },
              "postalCode": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "country"
            ]
          },
          "entity": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "description": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "type"
            ]
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "receiptEmail": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "paypal": {
            "type": "object",
            "nullable": true,
            "properties": {
              "returnUrl": {
                "type": "string",
                "format": "uri"
              },
              "cancelUrl": {
                "type": "string",
                "format": "uri"
              },
              "brandName": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "returnUrl",
              "cancelUrl"
            ]
          }
        },
        "required": [
          "provider",
          "items"
        ]
      },
      "PaymentIntentCreateResponse": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "stripe",
              "paypal"
            ]
          },
          "paymentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string",
            "nullable": true
          },
          "approvalUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "totals": {
            "$ref": "#/components/schemas/PaymentTotals"
          }
        },
        "required": [
          "provider",
          "paymentId",
          "status",
          "totals"
        ]
      },
      "PaymentIntentRecord": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amountSubtotal": {
            "type": "integer"
          },
          "amountDiscount": {
            "type": "integer"
          },
          "amountTax": {
            "type": "integer"
          },
          "amountTotal": {
            "type": "integer"
          },
          "amountRefunded": {
            "type": "integer"
          },
          "taxBreakdown": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          },
          "couponId": {
            "type": "integer",
            "nullable": true
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "receiptEmail": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "capturedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "canceledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failureCode": {
            "type": "string",
            "nullable": true
          },
          "failureMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "paymentId",
          "provider",
          "status",
          "currency",
          "amountSubtotal",
          "amountDiscount",
          "amountTax",
          "amountTotal",
          "amountRefunded",
          "metadata",
          "entityType",
          "entityId",
          "createdAt",
          "updatedAt"
        ]
      },
      "PaymentSummaryEntry": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "gross": {
            "type": "integer"
          },
          "discount": {
            "type": "integer"
          },
          "net": {
            "type": "integer"
          },
          "tax": {
            "type": "integer"
          },
          "refunded": {
            "type": "integer"
          },
          "captured": {
            "type": "integer"
          }
        },
        "required": [
          "currency",
          "gross",
          "discount",
          "net",
          "tax",
          "refunded",
          "captured"
        ]
      },
      "CouponPublic": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "discountType": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed_amount"
            ]
          },
          "discountValue": {
            "type": "integer"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "validFrom": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "maxRedemptions": {
            "type": "integer",
            "nullable": true
          },
          "perUserLimit": {
            "type": "integer",
            "nullable": true
          },
          "timesRedeemed": {
            "type": "integer"
          }
        },
        "required": [
          "code",
          "name",
          "discountType",
          "discountValue",
          "status",
          "timesRedeemed"
        ]
      },
      "PaymentRefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional refund amount expressed in cents."
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CommunityRoleDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "roleKey": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "permissions": {
            "type": "object"
          },
          "isDefaultAssignable": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "integer",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "roleKey",
          "name",
          "permissions",
          "isDefaultAssignable",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityRoleAssignment": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "userId",
          "role",
          "status",
          "metadata"
        ]
      },
      "CommunityPaywallTier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "priceCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "billingInterval": {
            "type": "string"
          },
          "trialPeriodDays": {
            "type": "integer"
          },
          "isActive": {
            "type": "boolean"
          },
          "benefits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object"
          },
          "stripePriceId": {
            "type": "string",
            "nullable": true
          },
          "paypalPlanId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "slug",
          "name",
          "priceCents",
          "currency",
          "billingInterval",
          "trialPeriodDays",
          "isActive",
          "benefits",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunitySubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "publicId": {
            "type": "string"
          },
          "communityId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "tierId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "currentPeriodStart": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "currentPeriodEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelAtPeriodEnd": {
            "type": "boolean"
          },
          "canceledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "provider": {
            "type": "string"
          },
          "providerCustomerId": {
            "type": "string",
            "nullable": true
          },
          "providerSubscriptionId": {
            "type": "string",
            "nullable": true
          },
          "providerStatus": {
            "type": "string",
            "nullable": true
          },
          "latestPaymentIntentId": {
            "type": "integer",
            "nullable": true
          },
          "affiliateId": {
            "type": "integer",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "publicId",
          "communityId",
          "userId",
          "tierId",
          "status",
          "cancelAtPeriodEnd",
          "provider",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityAffiliate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "communityId": {
            "type": "integer"
          },
          "userId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "referralCode": {
            "type": "string"
          },
          "commissionRateBasisPoints": {
            "type": "integer"
          },
          "totalEarnedCents": {
            "type": "integer"
          },
          "totalPaidCents": {
            "type": "integer"
          },
          "metadata": {
            "type": "object"
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "suspendedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "communityId",
          "userId",
          "status",
          "referralCode",
          "commissionRateBasisPoints",
          "totalEarnedCents",
          "totalPaidCents",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunityAffiliatePayout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "affiliateId": {
            "type": "integer"
          },
          "amountCents": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "payoutReference": {
            "type": "string",
            "nullable": true
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "processedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "affiliateId",
          "amountCents",
          "status",
          "metadata",
          "createdAt",
          "updatedAt"
        ]
      },
      "CommunitySubscriptionCheckoutResponse": {
        "type": "object",
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/PaymentIntentCreateResponse"
          },
          "subscription": {
            "$ref": "#/components/schemas/CommunitySubscription"
          }
        },
        "required": [
          "payment",
          "subscription"
        ]
      },
      "CommunityRoleCollection": {
        "type": "object",
        "properties": {
          "definitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityRoleDefinition"
            }
          },
          "assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunityRoleAssignment"
            }
          }
        },
        "required": [
          "definitions",
          "assignments"
        ]
      },
      "CommunityPaywallTierInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priceCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "billingInterval": {
            "type": "string"
          },
          "trialPeriodDays": {
            "type": "integer"
          },
          "isActive": {
            "type": "boolean"
          },
          "benefits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object"
          },
          "stripePriceId": {
            "type": "string"
          },
          "paypalPlanId": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "priceCents",
          "currency",
          "billingInterval"
        ]
      },
      "CommunityPaywallTierUpdateInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priceCents": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "billingInterval": {
            "type": "string"
          },
          "trialPeriodDays": {
            "type": "integer"
          },
          "isActive": {
            "type": "boolean"
          },
          "benefits": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object"
          },
          "stripePriceId": {
            "type": "string"
          },
          "paypalPlanId": {
            "type": "string"
          }
        }
      },
      "SocialUserSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 91
          },
          "firstName": {
            "type": "string",
            "example": "Nova"
          },
          "lastName": {
            "type": "string",
            "example": "Rahman"
          },
          "role": {
            "type": "string",
            "example": "user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "nova.rahman@example.com"
          },
          "mutualFollowers": {
            "type": "integer",
            "example": 3
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "role",
          "email"
        ]
      },
      "FollowRelationship": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1501
          },
          "followerId": {
            "type": "integer",
            "example": 42
          },
          "followingId": {
            "type": "integer",
            "example": 91
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "declined"
            ],
            "example": "accepted"
          },
          "source": {
            "type": "string",
            "example": "profile-card",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "example": "Requested mentorship",
            "nullable": true
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "followerId",
          "followingId",
          "status"
        ]
      },
      "FollowListItem": {
        "type": "object",
        "properties": {
          "relationship": {
            "$ref": "#/components/schemas/FollowRelationship"
          },
          "user": {
            "$ref": "#/components/schemas/SocialUserSummary"
          }
        }
      },
      "FollowViewerContext": {
        "type": "object",
        "properties": {
          "viewerFollowsSubject": {
            "type": "boolean",
            "example": true
          },
          "subjectFollowsViewer": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "FollowRecommendationItem": {
        "type": "object",
        "properties": {
          "recommendation": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number",
                "format": "float",
                "example": 87.5
              },
              "mutualFollowersCount": {
                "type": "integer",
                "example": 2
              },
              "reasonCode": {
                "type": "string",
                "example": "mutual_followers"
              },
              "generatedAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "score",
              "mutualFollowersCount",
              "reasonCode"
            ]
          },
          "user": {
            "$ref": "#/components/schemas/SocialUserSummary"
          }
        }
      },
      "FollowRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "maxLength": 80,
            "example": "profile-card"
          },
          "reason": {
            "type": "string",
            "maxLength": 240,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "MuteRequest": {
        "type": "object",
        "properties": {
          "durationMinutes": {
            "type": "integer",
            "minimum": 5,
            "example": 120
          },
          "reason": {
            "type": "string",
            "maxLength": 240,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "BlockRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 240,
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "SocialPrivacySettings": {
        "type": "object",
        "properties": {
          "profileVisibility": {
            "type": "string",
            "enum": [
              "public",
              "followers",
              "private"
            ],
            "example": "followers"
          },
          "followApprovalRequired": {
            "type": "boolean",
            "example": true
          },
          "messagePermission": {
            "type": "string",
            "enum": [
              "anyone",
              "followers",
              "none"
            ],
            "example": "followers"
          },
          "shareActivity": {
            "type": "boolean",
            "example": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "profileVisibility",
          "followApprovalRequired",
          "messagePermission",
          "shareActivity"
        ]
      },
      "SocialPrivacyUpdateRequest": {
        "$ref": "#/components/schemas/SocialPrivacySettings"
      },
      "ExplorerMapMarker": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "label": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "nullable": true
          },
          "context": {
            "type": "string",
            "description": "Entity context for the marker"
          }
        },
        "required": [
          "latitude",
          "longitude",
          "label",
          "context"
        ]
      },
      "ExplorerHit": {
        "type": "object",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "entityType": {
            "type": "string",
            "enum": [
              "communities",
              "courses",
              "ebooks",
              "tutors",
              "profiles",
              "ads",
              "events"
            ]
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "object",
            "additionalProperties": true
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "href": {
                  "type": "string"
                }
              },
              "required": [
                "label"
              ],
              "additionalProperties": false
            }
          },
          "geo": {
            "$ref": "#/components/schemas/ExplorerMapMarker",
            "nullable": true
          },
          "raw": {
            "type": "object"
          }
        },
        "required": [
          "id",
          "entityType",
          "title",
          "raw"
        ]
      },
      "ExplorerEntityResult": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string",
            "enum": [
              "communities",
              "courses",
              "ebooks",
              "tutors",
              "profiles",
              "ads",
              "events"
            ]
          },
          "totalHits": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "perPage": {
            "type": "integer"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "filter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "facets": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "integer"
              }
            }
          },
          "hits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerHit"
            }
          },
          "processingTimeMs": {
            "type": "integer"
          },
          "query": {
            "type": "string"
          },
          "markers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerMapMarker"
            }
          }
        },
        "required": [
          "entity",
          "totalHits",
          "page",
          "perPage",
          "hits"
        ]
      },
      "ExplorerSearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "perPage": {
            "type": "integer"
          },
          "entities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "communities",
                "courses",
                "ebooks",
                "tutors",
                "profiles",
                "ads",
                "events"
              ]
            }
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ExplorerEntityResult"
            }
          },
          "totals": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "markers": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExplorerMapMarker"
                }
              },
              "bounds": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "minLat": {
                    "type": "number",
                    "format": "double"
                  },
                  "maxLat": {
                    "type": "number",
                    "format": "double"
                  },
                  "minLng": {
                    "type": "number",
                    "format": "double"
                  },
                  "maxLng": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            },
            "required": [
              "items"
            ]
          }
        },
        "required": [
          "page",
          "perPage",
          "entities",
          "results",
          "totals",
          "markers"
        ]
      },
      "ExplorerSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "example": "automation playbook"
          },
          "entityTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "communities",
                "courses",
                "ebooks",
                "tutors",
                "profiles",
                "ads",
                "events"
              ]
            }
          },
          "page": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "perPage": {
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "default": 12
          },
          "filters": {
            "type": "object",
            "additionalProperties": true
          },
          "globalFilters": {
            "type": "object",
            "additionalProperties": true
          },
          "sort": {
            "type": "object",
            "additionalProperties": true
          },
          "includeFacets": {
            "type": "boolean",
            "default": true
          },
          "savedSearchId": {
            "type": "integer"
          }
        }
      },
      "SavedExplorerSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "entityTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "communities",
                "courses",
                "ebooks",
                "tutors",
                "profiles",
                "ads",
                "events"
              ]
            }
          },
          "filters": {
            "type": "object",
            "additionalProperties": true
          },
          "globalFilters": {
            "type": "object",
            "additionalProperties": true
          },
          "sortPreferences": {
            "type": "object",
            "additionalProperties": true
          },
          "isPinned": {
            "type": "boolean"
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "entityTypes",
          "filters",
          "globalFilters",
          "sortPreferences",
          "isPinned",
          "createdAt",
          "updatedAt"
        ]
      },
      "SavedExplorerSearchRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "entityTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "communities",
                "courses",
                "ebooks",
                "tutors",
                "profiles",
                "ads",
                "events"
              ]
            }
          },
          "filters": {
            "type": "object",
            "additionalProperties": true
          },
          "globalFilters": {
            "type": "object",
            "additionalProperties": true
          },
          "sort": {
            "type": "object",
            "additionalProperties": true
          },
          "isPinned": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health probe",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          },
          "503": {
            "description": "Downstream dependency failure"
          }
        }
      }
    },
    "/api/payments": {
      "post": {
        "summary": "Create Stripe or PayPal payment intent",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentIntentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment intent created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaymentIntentCreateResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Coupon not found or inactive"
          },
          "409": {
            "description": "Coupon redemption limit reached"
          },
          "422": {
            "description": "Validation error"
          },
          "502": {
            "description": "Payment provider error"
          }
        }
      }
    },
    "/api/payments/paypal/{paymentId}/capture": {
      "post": {
        "summary": "Capture an approved PayPal order",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PayPal capture completed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaymentIntentRecord"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Capture not allowed for current status"
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "404": {
            "description": "Payment intent not found"
          },
          "502": {
            "description": "PayPal returned an error"
          }
        }
      }
    },
    "/api/payments/{paymentId}/refunds": {
      "post": {
        "summary": "Issue a Stripe or PayPal refund",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaymentIntentRecord"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Payment intent not found"
          },
          "422": {
            "description": "Invalid refund amount"
          },
          "502": {
            "description": "Payment provider error"
          }
        }
      }
    },
    "/api/payments/reports/summary": {
      "get": {
        "summary": "Finance summary by currency",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Three-letter ISO currency filter"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finance summary generated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PaymentSummaryEntry"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "422": {
            "description": "Invalid filter parameters"
          }
        }
      }
    },
    "/api/payments/coupons/{code}": {
      "get": {
        "summary": "Retrieve coupon details",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coupon fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
[...]
