{
  "openapi": "3.0.3",
  "info": {
    "title": "Edulure Platform API – Reporting, dashboards, and analytics export APIs including executive BI overviews.",
    "version": "1.50.0",
    "description": "Reporting, dashboards, and analytics export APIs including executive BI overviews. (Capability: analytics-insights)."
  },
  "servers": [
    {
      "url": "https://api.edulure.com/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:{port}/api/v1",
      "description": "Local development",
      "variables": {
        "port": {
          "default": "4000"
        }
      }
    }
  ],
  "tags": [],
  "paths": {
    "/analytics/bi/executive-overview": {
      "get": {
        "summary": "Executive analytics overview",
        "description": "Returns aggregated KPIs, trends, and telemetry health indicators for the executive dashboard.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "30d",
                "90d"
              ],
              "default": "30d"
            },
            "description": "Time window used when calculating KPI deltas and trend lines."
          }
        ],
        "responses": {
          "200": {
            "description": "Executive overview generated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BiExecutiveOverview"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token"
          },
          "403": {
            "description": "Insufficient permissions"
          }
        }
      }
    },
    "/analytics/explorer/alerts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List explorer analytics alerts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "includeResolved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explorer analytics alerts fetched",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ExplorerAnalyticsAlert"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/explorer/interactions": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Record an explorer interaction event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplorerInteractionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interaction recorded",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ExplorerInteractionRecord"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Search event not found"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/explorer/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Retrieve explorer analytics summary",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "range",
            "in": "query",
            "description": "Rolling time window (7d, 14d, or 30d)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "14d",
                "30d"
              ],
              "default": "7d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explorer analytics summary returned",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/StandardResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ExplorerAnalyticsSummary"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExplorerAnalyticsSummary": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "object",
            "properties": {
              "key": { "type": "string" },
              "name": { "type": "string" },
              "tier": { "type": "string", "nullable": true },
              "region": { "type": "string", "nullable": true },
              "workspace": { "type": "string", "nullable": true }
            }
          },
          "range": {
            "$ref": "#/components/schemas/ExplorerAnalyticsRange"
          },
          "totals": {
            "$ref": "#/components/schemas/ExplorerAnalyticsTotals"
          },
          "entityBreakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsEntityBreakdown"
            }
          },
          "timeseries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsTimeseriesPoint"
            }
          },
          "topQueries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsQueryMetric"
            }
          },
          "zeroResultQueries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsQueryMetric"
            }
          },
          "ads": {
            "$ref": "#/components/schemas/ExplorerAnalyticsAdsSummary"
          },
          "experiments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsExperiment"
            }
          },
          "forecasts": {
            "type": "object",
            "properties": {
              "searchVolume": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExplorerAnalyticsForecastEntry"
                }
              },
              "clickThroughRate": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExplorerAnalyticsForecastEntry"
                }
              }
            }
          },
          "alerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExplorerAnalyticsAlert"
            }
          },
          "lastComputedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "range",
          "totals",
          "entityBreakdown",
          "timeseries",
          "topQueries",
          "ads",
          "forecasts",
          "alerts"
        ]
      },
      "ExplorerAnalyticsAlert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "alertCode": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "resolvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "alertCode",
          "severity",
          "message",
          "detectedAt"
        ]
      },
      "ExplorerAnalyticsForecastEntry": {
        "type": "object",
        "properties": {
          "targetDate": {
            "type": "string",
            "format": "date"
          },
          "metricValue": {
            "type": "number",
            "format": "double"
          },
          "lowerBound": {
            "type": "number",
            "format": "double"
          },
          "upperBound": {
            "type": "number",
            "format": "double"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "targetDate",
          "metricValue",
          "lowerBound",
          "upperBound"
        ]
      },
      "ExplorerAnalyticsExperiment": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "rolloutPercentage": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "key",
          "name",
          "enabled"
        ]
      },
      "ExplorerAnalyticsAdsSummary": {
        "type": "object",
        "properties": {
          "impressions": {
            "type": "integer"
          },
          "clicks": {
            "type": "integer"
          },
          "conversions": {
            "type": "integer"
          },
          "spendCents": {
            "type": "integer"
          },
          "revenueCents": {
            "type": "integer"
          },
          "clickThroughRate": {
            "type": "number",
            "format": "double"
          },
          "conversionRate": {
            "type": "number",
            "format": "double"
          },
          "roas": {
            "type": "number",
            "format": "double"
          }
        },
        "required": [
          "impressions",
          "clicks",
          "conversions",
          "spendCents",
          "revenueCents"
        ]
      },
      "ExplorerAnalyticsQueryMetric": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "searches": {
            "type": "integer"
          }
        },
        "required": [
          "query",
          "searches"
        ]
      },
      "ExplorerAnalyticsTimeseriesPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "searches": {
            "type": "integer"
          },
          "zeroResultRate": {
            "type": "number",
            "format": "double"
          },
          "clickThroughRate": {
            "type": "number",
            "format": "double"
          },
          "averageLatencyMs": {
            "type": "integer"
          }
        },
        "required": [
          "date",
          "searches",
          "zeroResultRate",
          "clickThroughRate"
        ]
      },
      "ExplorerAnalyticsEntityBreakdown": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "string"
          },
          "searches": {
            "type": "integer"
          },
          "zeroResultRate": {
            "type": "number",
            "format": "double"
          },
          "clickThroughRate": {
            "type": "number",
            "format": "double"
          },
          "displayedResults": {
            "type": "integer"
          },
          "clicks": {
            "type": "integer"
          },
          "averageLatencyMs": {
            "type": "integer"
          }
        },
        "required": [
          "entityType",
          "searches",
          "zeroResultRate",
          "clickThroughRate",
          "displayedResults",
          "clicks"
        ]
      },
      "ExplorerAnalyticsTotals": {
        "type": "object",
        "properties": {
          "searches": {
            "type": "integer"
          },
          "zeroResultRate": {
            "type": "number",
            "format": "double"
          },
          "clickThroughRate": {
            "type": "number",
            "format": "double"
          },
          "averageLatencyMs": {
            "type": "integer"
          },
          "uniqueUsers": {
            "type": "integer",
            "nullable": true
          }
        },
        "required": [
          "searches",
          "zeroResultRate",
          "clickThroughRate",
          "averageLatencyMs"
        ]
      },
      "ExplorerAnalyticsRange": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "days": {
            "type": "integer",
            "minimum": 1
          }
        },
        "required": [
          "start",
          "end",
          "days"
        ]
      },
      "ExplorerInteractionRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "eventId": {
            "type": "integer"
          },
          "entityType": {
            "type": "string"
          },
          "resultId": {
            "type": "string"
          },
          "interactionType": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "eventId",
          "entityType",
          "resultId",
          "interactionType",
          "createdAt"
        ]
      },
      "ExplorerInteractionRequest": {
        "type": "object",
        "properties": {
          "searchEventId": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "example": "courses"
          },
          "resultId": {
            "type": "string",
            "example": "automation-masterclass"
          },
          "interactionType": {
            "type": "string",
            "enum": [
              "click",
              "detail_view",
              "bookmark"
            ],
            "default": "click"
          },
          "position": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          }
        },
        "required": [
          "searchEventId",
          "entityType",
          "resultId"
        ]
      },
      "BiExecutiveOverview": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "timeframe": {
            "type": "object",
            "properties": {
              "range": {
                "type": "string"
              },
              "days": {
                "type": "integer"
              },
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              },
              "comparisonStart": {
                "type": "string",
                "format": "date-time"
              },
              "comparisonEnd": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "scorecard": {
            "type": "object",
            "properties": {
              "enrollments": {
                "$ref": "#/components/schemas/ScorecardMetric"
              },
              "completionRate": {
                "$ref": "#/components/schemas/ScorecardMetric"
              },
              "recognisedRevenue": {
                "$ref": "#/components/schemas/ScorecardMetric"
              },
              "netRevenue": {
                "$ref": "#/components/schemas/ScorecardMetric"
              },
              "averageProgressPercent": {
                "$ref": "#/components/schemas/ScorecardMetric"
              },
              "communityEngagement": {
                "type": "object",
                "properties": {
                  "posts": {
                    "$ref": "#/components/schemas/ScorecardMetric"
                  },
                  "comments": {
                    "$ref": "#/components/schemas/ScorecardMetric"
                  },
                  "events": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "enrollmentTrends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "enrollments": {
                  "type": "integer"
                },
                "completions": {
                  "type": "integer"
                },
                "recognisedRevenueCents": {
                  "type": "integer"
                }
              }
            }
          },
          "revenueTrends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "currency": {
                  "type": "string"
                },
                "grossVolumeCents": {
                  "type": "integer"
                },
                "recognisedVolumeCents": {
                  "type": "integer"
                }
              }
            }
          },
          "revenueByCurrency": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "string"
                },
                "grossVolumeCents": {
                  "type": "integer"
                },
                "recognisedVolumeCents": {
                  "type": "integer"
                },
                "discountCents": {
                  "type": "integer"
                },
                "taxCents": {
                  "type": "integer"
                },
                "refundedCents": {
                  "type": "integer"
                }
              }
            }
          },
          "communityTrends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "posts": {
                  "type": "integer"
                },
                "comments": {
                  "type": "integer"
                }
              }
            }
          },
          "topCommunities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "communityId": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "posts": {
                  "type": "integer"
                },
                "comments": {
                  "type": "integer"
                }
              }
            }
          },
          "categoryBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "deliveryFormat": {
                  "type": "string"
                },
                "level": {
                  "type": "string"
                },
                "enrollments": {
                  "type": "integer"
                },
                "completions": {
                  "type": "integer"
                },
                "recognisedRevenueCents": {
                  "type": "integer"
                }
              }
            }
          },
          "experiments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "experimentId": {
                  "type": "string",
                  "nullable": true
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "rolloutPercentage": {
                  "type": "number"
                },
                "owner": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "dataQuality": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "pipelines": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TelemetryFreshnessMonitor"
                }
              }
            }
          }
        }
      },
      "TelemetryFreshnessMonitor": {
        "type": "object",
        "properties": {
          "pipelineKey": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "warning",
              "critical",
              "noop"
            ]
          },
          "lagSeconds": {
            "type": "integer"
          },
          "thresholdMinutes": {
            "type": "integer"
          },
          "lastEventAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "ScorecardMetric": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number"
          },
          "value": {
            "type": "number",
            "nullable": true
          },
          "cents": {
            "type": "integer",
            "nullable": true
          },
          "change": {
            "type": "object",
            "properties": {
              "absolute": {
                "type": "number"
              },
              "percentage": {
                "type": "number"
              }
            }
          }
        }
      },
      "StandardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "data": {},
          "meta": {
            "type": "object",
            "nullable": true
          }
        }
      }
    }
  }
}